
canvas {

    cursor:cell;
}
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

#score {
    font-size: 40px;
    color: white;
}

#time-remaining {
    font-size: 40px;
    color: white;
}

#missed {
    font-size: 40px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/Sunbeam-in-the-ocean.-Socorro-Mexico-1349x700.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#score-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


